body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1106px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:773px;
  height:1106px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:687px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:209px;
  width:421px;
  height:687px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:687px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:209px;
  width:421px;
  height:687px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:648px;
  width:289px;
  height:57px;
  font-size:20px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:715px;
  width:148px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:769px;
  width:50px;
  height:41px;
  color:#FFFFFF;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:770px;
  width:50px;
  height:40px;
  color:#FFFFFF;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:765px;
  width:49px;
  height:50px;
  color:#FFFFFF;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1106px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:0px;
  width:773px;
  height:1106px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:687px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:209px;
  width:421px;
  height:687px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:808px;
  width:421px;
  height:88px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:807px;
  width:89px;
  height:89px;
  font-size:28px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:808px;
  width:141px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:137px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:808px;
  width:141px;
  height:88px;
  font-size:28px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:137px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:216px;
  width:382px;
  height:57px;
  font-size:28px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:230px;
  width:30px;
  height:30px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:330px;
  width:44px;
  height:1px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:330px;
  width:41px;
  height:1px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:285px;
  width:116px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:285px;
  width:116px;
  height:46px;
  font-size:20px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:170px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:362px;
  width:382px;
  height:170px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:170px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:590px;
  width:382px;
  height:170px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1106px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1728px;
  top:0px;
  width:773px;
  height:1106px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:687px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:209px;
  width:421px;
  height:687px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:808px;
  width:421px;
  height:88px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2067px;
  top:807px;
  width:89px;
  height:89px;
  font-size:28px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:808px;
  width:141px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:137px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2181px;
  top:808px;
  width:141px;
  height:88px;
  font-size:28px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:137px;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1918px;
  top:216px;
  width:382px;
  height:57px;
  font-size:28px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1933px;
  top:230px;
  width:30px;
  height:30px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:330px;
  width:44px;
  height:1px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2181px;
  top:330px;
  width:41px;
  height:1px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1941px;
  top:285px;
  width:116px;
  height:46px;
  font-size:20px;
  color:#000000;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2141px;
  top:285px;
  width:116px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:112px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:466px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:341px;
  width:421px;
  height:466px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:482px;
  height:19px;
}
#u71p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:478px;
  height:6px;
}
#u71p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:6px;
}
#u71p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u71p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u71p002 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u71p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:796px;
  width:473px;
  height:1px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:786px;
  width:16px;
  height:18px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:208px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:748px;
  width:233px;
  height:208px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  line-height:48px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:432px;
  width:284px;
  height:284px;
  font-size:28px;
  line-height:48px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:272px;
  height:31px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:714px;
  width:257px;
  height:5px;
  -webkit-transform:rotate(38deg);
  -moz-transform:rotate(38deg);
  -ms-transform:rotate(38deg);
  transform:rotate(38deg);
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:295px;
  height:31px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:372px;
  width:280px;
  height:5px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:412px;
  height:19px;
}
#u78p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:408px;
  height:6px;
}
#u78p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:6px;
}
#u78p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u78p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u78p002 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:309px;
  width:403px;
  height:1px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1451px;
  top:301px;
  width:13px;
  height:13px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:154px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:273px;
  width:173px;
  height:154px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  line-height:48px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:461px;
  width:255px;
  height:255px;
  font-size:28px;
  line-height:48px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
